body{
    background-color: cornflowerblue;
}
h1,h2{
    color:rgb(200, 163, 0);
}
table, td{
    border: 1px solid rgb(241, 212, 0);
    text-align: center;
    color:rgb(8, 235, 201)
}
p,li{
    color:rgb(8, 235, 201)
}
#Pa2{
    width: 200px;
}