body{
    background-image: url(https://cdn.discordapp.com/attachments/1106212929893834812/1238564387921461348/Untitled423_20240510145236.png?ex=663fbe79&is=663e6cf9&hm=8c269f1b052e52fcf9088bce5678aa6db544a6694b7bdf8bdff3eda979a567fa&);
}
h1,h2{
    color:rgb(200, 163, 0);
}
table, td{
    border: 1px solid rgb(241, 212, 0);
    text-align: center;
    color:rgb(8, 235, 201)
}
p,li{
    color:rgb(8, 235, 201)
}